body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2021/03/02/17/37/accounting-6063321_1280.png);
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    background-color:#E6FF94;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input, .input2, #select, #button {
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}